{% extends "intra42/base.html" %}

{% block title %}Intra42{% endblock %}

{% block content %}
	<h1>Bienvenue sur votre profile, <span class="username_home">{{ user.username|default:"visiteur" }}</span> !</h1>
      <div class="login_form">
            <p>Login : {{ user.username }}</p>
            <p>E-Mail : {{ user.email }}</p>
            <p>Prénom : {{ user.first_name }}</p>
            <p>Nom : {{ user.last_name }}</p>
            <p class="date">La date actuelle est : {{ current_date }}</p>

            <form action="" method="post">{% csrf_token %}
                  <input type="submit" value="Modifier" />
                  <input type="hidden" name="next" value="#" />
            </form>
      </div>
{% endblock %}