body {
	font-family: monospace;
}

#header {
	width: 100%;
	height: auto;
	border: 1px solid #ccc;
	background-color: #ddd;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.center {
	text-align: center;
}

.red {
	border: 1px solid red;
	color: red;
	text-align: center;
}

.green {
	border: 1px solid green;
	color: green;
	text-align: center;
}

.right {
	text-align: right;
	margin-right: 10px;
}

#main {
	overflow: hidden;
}

#options {
	margin-bottom: 1%;
	margin-left: 5%;
}

.imgo {
	width: 5%;
	height: 5%;
}

#webcam {
	width: 400px;
	border: 10px solid #ddd;
	background-color: #ccc;
	float: left;
	margin-left: 5%;
    display: inline-block;
	overflow: hidden; 
	position: relative;
	margin-right: 10%;
}

#nocam {
}

#tf {
	width: 100px;
	height: 100px;
	top: 270px;
	left: 100px;
}

#atom {
	width: 100px;
	height: 100px;
	top: 270px;
	left: 100px;
}

#fh {
	width: 100px;
	height: 100px;
	top: 270px;
	left: 100px;
}

#will {
	width: 100px;
	height: 100px;
	top: 270px;
	left: 100px;
}

button, a {
	background-color: green;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.video-capture-button {
	display: none;
	margin: 10px 0;
	padding: 10px 20px;
	background-color: blue;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

#canvas {
	display: none;
}

#side {
	width: 100%;
	max-width: 700px;
	border: 10px solid #ddd;
	background-color: #ccc;
	height: 100%;
	min-height: 200px;
	margin:10px auto;
    display: inline-block;
}

#gallery {
	border: 10px solid #ddd;
	background-color: #ccc;
	height: 260px;
	margin:10px auto;
}

.montage {
	width: 100px;
	height: 100px;
}

hr {
	margin-top: 1%;
}

footer {
	text-align: right;
}

@media screen and (max-width: 1024px) {
	#main { width: 480px; margin: 0 auto; }
	#webcam { width: 400px; }
	#options { margin-left: 30%; margin-bottom: 1%; }
	#side { margin-left: 0; max-width: 450px; }
}

@media screen and (max-width: 640px) {
	#main { width: 100%; margin: 0 auto; }
	#webcam { width: 100%; }
	#options { margin-left: 10%; margin-bottom: 1%; }
	#side { width: 100%; }
}